<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="provider" value="System.Data.OleDb" />
    </appSettings>
    <connectionStrings>
      <add name="SqlClient" connectionString="Data Source=YURII-PC;Initial Catalog=AutoLot;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
      <add name="OleDb" connectionString="Provider=SQLOLEDB;Data Source=YURII-PC;Integrated Security=SSPI;Initial Catalog=AutoLot"/>
    </connectionStrings>
</configuration>