<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dependency Injection</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/**.min.css" />
</head>
<body class="m-1 p-1">
    <div>
        @RenderBody()
    </div>
</body>
</html>
