<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior name="MEXServiceBehavior">
            <serviceMetadata httpsGetEnabled="true" httpGetEnabled="true"/>
            <serviceDebug  includeExceptionDetailInFaults="true" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <services>
        <service name="EssentialWCF.StockService" behaviorConfiguration="MEXServiceBehavior">
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost/StockService"/>
              <add baseAddress="net.tcp://localhost:12345/StockService"/>
            </baseAddresses>
          </host>
          <endpoint name="httpIStockService" address="" binding="wsHttpBinding" contract="EssentialWCF.IStockService" />
          <endpoint name="tcpIStockService" address="" binding="netTcpBinding" contract="EssentialWCF.IStockService" />
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        </service>
      </services>
    </system.serviceModel>
</configuration>