@model Dictionary<string, object>

<div class="bg-primary m-1 p-1 text-white"><h4>User Details</h4></div>
<table class="table table-sm table-bordered m-1 p-1">
    @foreach (var kvp in Model)
    {
        <tr>
            <th>@kvp.Key</th>
            <td>@kvp.Value</td>
        </tr>
    }
</table>
<a class="btn btn-primary" asp-action="Index" asp-controller="Admin">Admin</a>
<a class="btn btn-primary" asp-action="Index" asp-controller="RoleAdmin">Role Admin</a>
<a class="btn btn-primary" asp-action="OtherAction">OtherAction</a>
<a class="btn btn-primary" asp-action="UserProps">User Properties</a>
<a class="btn btn-primary" asp-action="Index" asp-controller="Document">Documents</a>

