@model AppUser

<div class="bg-primary m-1 p-1 text-white"><h3>User Properties</h3></div>

<form method="post" asp-action="UserProps">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="City"></label>
        <select class="form-control" asp-for="City" asp-items="@new  SelectList(Enum.GetNames(typeof(Cities)))">
            <option disabled selected value="">Select a City</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Qualifications"></label>
        <select class="form-control" asp-for="Qualifications" asp-items="@new  SelectList(Enum.GetNames(typeof(QualificationLevel)))">
            <option disabled selected value="">Select a Qualifications</option>
        </select>
    </div>
    <button class="btn-primary" type="submit">Save</button>
</form>