@model ProtectedDocument

<div class="bg-primary m-1 p-1 text-white"><h4>Editing @Model.Title (@User?.Identity?.Name)</h4></div>
<div class="m-1 p-1">
    Document editing features would go here...
</div>
<a class="btn btn-primary" asp-action="Index">Done</a>

