<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="httpIEchoClaims" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="tcpIEchoClaims" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:12345/Claims" binding="netTcpBinding"
                bindingConfiguration="tcpIEchoClaims" contract="EchoClaims.IEchoClaims"
                name="tcpIEchoClaims">
                <identity>
                    <userPrincipalName value="y.kalinichenko@office.lo" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/Claims" binding="basicHttpBinding"
                bindingConfiguration="httpIEchoClaims" contract="EchoClaims.IEchoClaims"
                name="httpIEchoClaims" />
        </client>
    </system.serviceModel>
</configuration>