<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="tcpIStockService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="httpIStockService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/StockService" binding="wsHttpBinding"
                bindingConfiguration="httpIStockService" contract="StockService.IStockService"
                name="httpIStockService">
                <identity>
                    <userPrincipalName value="y.kalinichenko@office.lo" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:12345/StockService" binding="netTcpBinding"
                bindingConfiguration="tcpIStockService" contract="StockService.IStockService"
                name="tcpIStockService">
                <identity>
                    <userPrincipalName value="y.kalinichenko@office.lo" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>