<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="SecurityServiceTutorial.EchoClaims" behaviorConfiguration="EchoClaimsBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:12345/Claims"/>
            <add baseAddress="http://localhost/Claims"/>
            <!--
            <add baseAddress="https://localhost/Claims"/>
            -->
          </baseAddresses>
        </host>
        <endpoint name="tcpIEchoClaims" address="" binding="netTcpBinding" contract="SecurityServiceTutorial.IEchoClaims" />
        <!--
        <endpoint name="httpsIEchoClaims" address="" binding="wsHttpBinding" contract="SecurityServiceTutorial.IEchoClaims" bindingConfiguration="httpsEchoClaimsBinding" />
        -->
        <endpoint name="httpIEchoClaims" address="" binding="basicHttpBinding" contract="SecurityServiceTutorial.IEchoClaims" />
        <endpoint address="http://localhost/metadata" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name = "tcpReliableSession">
          <reliableSession enabled="true"/>
          <security mode="Transport" />
        </binding>
      </netTcpBinding>
      <!--
      <netTcpBinding>
        <binding name="tcpEchoClaimsBinding">
          <security mode="Tra">
            <message clientCredentialType="UserName" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
      -->
      <!--
      <wsHttpBinding>
        <binding name="httpsEchoClaimsBinding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    -->
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EchoClaimsBehavior">
          <serviceMetadata httpGetUrl="http://localhost/metadata"/>
          <serviceDebug  includeExceptionDetailInFaults="true" />
          <!--
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="SecurityServiceTutorial.UserValidator, SecurityServiceTutorial"/>
            <serviceCertificate findValue="localhost" storeLocation="CurrentUser" storeName="Root" x509FindType="FindBySubjectName"/>
          </serviceCredentials>
          -->
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>